<!DOCTYPE html>
<html lang="en">

<head>

	<% include ./partials/head.ejs %>

</head>

<body>

	<!-- Navigation -->

	<% include ./partials/navbar.ejs %>

	<!-- Page Content -->
	<main class="container">

		<% include ../static/partials/messages.ejs %>

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4 yellow">
			<h1 class="display-2 heading">Welcome to Bloccit</h1>
			<p class="lead paragraph-text">An application for users to share information.</p>
			<% if(currentUser) { %>
				<a href="/users/sign_out" class="btn purple">Sign Out</a>
				<% } else { %>
					<a href="/users/sign_up" class="btn purple">Sign Up!</a>
				<% }%>
			
		</header>

		<!-- Page Features -->
		<section class="row text-center">

			<section class="col-lg-4">
				<div class="card orange">
				<div class="card-title heading">Post</div>
				<p class="card-text paragraph-text">Share your thoughts about subjects that are important to you.</p>
				<p class="icons"><i class="far fa-address-card"></i></p>
				</div>
			</section>

			<section class="col-lg-4">
				<div class="card yellow">
				<div class="card-title heading">Comment</div>
				<p class="card-text paragraph-text">Your opinion counts! But you have to make yourself heard first!</p>
				<p class="icons"><i class="far fa-comment"></i></p>
			</div>
			</section>

			<section class="col-lg-4">
				<div class="card purple">
				<div class="card-title heading">Stay Informed</div>
				<p class="card-text paragraph-text">See the most active topics as well as trending subjects every day!</p>
				<p class="icons"><i class="fas fa-info"></i></p>
			</div>
			</section>

		</section>
		<!-- /.row -->

	</main>
	<!-- /.container -->

	<% include ./partials/baseScripts.ejs %>

</body>

</html>